/*** IMPORTS ***/
@use './../utils/functions' as func;
@use './../utils/mixins' as mixin;

/*** KEYFRAMES ***/
/*
*   ripple
**  Creates a material UI ripple effect on the respected element
**  by scaling the element and changing  its opacity
*/
$rippleAnimation: rippleAnimation;
@keyframes #{ rippleAnimation } {
    to {
        transform: scale( 2.5 );
        opacity: 0;
    }
}

/*
*   rotate
**  Rotates the respected element 360 degrees
*/
$rotateAnimation: rotateAnimation;
@keyframes #{ rotateAnimation } {
    100% {
        @include mixin.transform( rotate( 360deg ) );
    }
}
/*
*   dash
**  Extends and retract the svg line the animation is applied to
*/
$dashAnimation: dashAnimation;
@keyframes #{ dashAnimation } {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

/*
*   bounce
**  Creates a bounce effect on the applied element
*/
$bounceAnimation: bounceAnimation;
@keyframes #{ bounceAnimation } {
    0%, 20%, 50%, 80%, 100% {
        @include mixin.transform( translateY( 0 ) );
    }
    40% {
        @include mixin.transform( translateY( func.pxToRem( -12 ) ) );
    } 
    60% {
        @include mixin.transform( translateY( func.pxToRem( -10 ) ) );
    } 
}

/*
*   linearLoad
**  Creates a linear load effect in the applied element
*/
$linearLoadAnimation: linearLoadAnimation;
@keyframes #{ linearLoadAnimation } {
    0% {
        width: 0;
        left: -40%;
    }
    30% {
        width: 50%;
    }
    100% {
        width: 100%;
        left: 100%;
    }
}
