/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Component
.page {
    // Mixins
    @include mixin.fullWidth();

    // Styles
    min-height: 100vh;
    background: func.color( baseColor-25 );

    &__nav {
        // Mixins
        @include mixin.transition(
            all
            func.duration( slow )
            func.easing( easeInOutCubic )
        );

        // Styles
        position: sticky;
        top: 0;
        z-index: 999;

        // Is...
        &--is {
            &-hidden {
                @include mixin.transform( translateY( -200% ) );
            }
        }
    }
}
