<div [ngClass]="returnClassNames()">
    <!-- Columns -->
    <ng-container
        *ngFor="let cell of cells; let i = index"
    >
        <div
            *ngIf="windowSize.width >= tabletBrakpoint || ( windowSize.width < tabletBrakpoint && !cell.hideOnMobile)"
            class="row__column"
        >
            <!-- Text Cell -->
            <ng-container *ngIf="!cell.type || cell.type && cell.type === 'text'; else visualCell">
                <div
                    [attr.data-title]="titles[ i ]"
                    class="row__column-cell row__column-cell--text"
                >
                    <!-- Value -->
                    <base-text
                        fontWeight="light"
                        variant="paragraph sm"
                    >
                        {{ cell.value }}
                    </base-text>
                    <!-- ./Value -->
                    <!-- Sort -->
                    <ng-container *ngIf="cellIsSortable( cell )">
                        <button
                            (click)="handleSortClick( cell.value )"
                            [class]="'row__column-action--sort-' + checkIfSortIsActive( cell )"
                            class="row__column-action row__column-action--sort"
                        >
                            <base-icon
                                name="arrow_upward"
                            ></base-icon>
                        </button>
                    </ng-container>
                    <!-- ./Sort -->
                    <!-- Search -->
                    <ng-container *ngIf="cellIsSearchable( cell )">
                        <button
                            (click)="handleSearchClick()"
                            class="row__column-action row__column-action--search"
                        >
                            <base-icon
                                name="search"
                            ></base-icon>
                        </button>
                    </ng-container>
                    <!-- ./Search -->
                </div>
            </ng-container>
            <!-- ./Text Cell -->

            <!-- Visual Cells -->
            <ng-template #visualCell>
                <!-- Icon Cell -->
                <ng-container *ngIf="cell.type === 'icon'; else imageCell">
                    <div
                        [attr.data-title]="titles[ i ]"
                        class="row__column-cell row__column-cell--icon"
                    >
                        <!-- Icon -->
                        <base-icon
                            (mouseenter)="toggleTooltipVisibility( i )"
                            (mouseleave)="toggleTooltipVisibility( undefined )"
                            [filled]="true"
                            [name]="cell.value"
                        >
                        </base-icon>
                        <!-- ./Icon -->
                        <!-- Tooltip -->
                        <ng-container *ngIf="windowSize.width >= tabletBrakpoint">
                            <div class="row__column-tooltip">
                                <base-tooltip
                                    [isVisible]="visibleTooltipCell === i && getTooltipLabel() !== ''"
                                    [label]="getTooltipLabel()"
                                ></base-tooltip>
                            </div>
                        </ng-container>
                        <!-- ./Tooltip -->
                    </div>
                </ng-container>
                <!-- ./Icon Cell -->
        
                <!-- Image Cell -->
                <ng-template #imageCell>
                    <div
                        [attr.data-title]="titles[ i ]"
                        class="row__column-cell row__column-cell--image"
                    >
                        <base-image
                            [src]="cell.value"
                            alt=""
                        ></base-image>
                    </div>
                </ng-template>
                <!-- ./Image Cell -->
            </ng-template>
            <!-- ./Visual Cells -->
        </div>
    </ng-container>
    <!-- ./Columns -->
</div>
