<div class="search">
    <!-- Input -->
    <div class="search__input">
        <base-input
            (onChange)="handleChange( $event )"
            (onEnter)="handleEnter( $event )"
            [placeholder]="placeholder"
            [value]="value!"
            [variant]="variant"
            icon="search"
            label="Search"
            type="search"
        ></base-input>
    </div>
    <!-- ./Input -->

    <!-- Options -->
    <ng-container *ngIf="searchResults">
        <div class="search__options">
            <common-actions-list [actions]="searchResults"></common-actions-list>
        </div>
    </ng-container>
    <!-- ./Options -->
</div>
