<div class="nav">
    <!-- Left Content -->
    <div class="nav__left">
        <div class="nav__menu">
            <common-nav-item></common-nav-item>
        </div>
        <div class="nav__logo">
            <base-image></base-image>
        </div>
    </div>
    <!-- ./Left Content -->

    <!-- Center Content -->
    <div class="nav__center">
        <div class="nav__title">
            <base-text></base-text>
        </div>
    </div>
    <!-- ./Center Content -->

    <!-- Right Content -->
    <div class="nav__right">
        <div class="nav__items">
            <common-nav-item></common-nav-item>
        </div>
    </div>
    <!-- ./Right Content -->
</div>
