/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.pagination {
    // Mixins
    @include mixin.flexCenter( flex-end );

    // Media Queries
    @include mixin.maxWidth( lg ) {
        width: 100%;
        display: grid;
        gap: func.pxToRem( 20 );
        align-items: center;
        justify-content: center;
    }

    // Styles
    margin: func.pxToRem( 12 ) 0 0;

    &__per-page {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        gap: func.pxToRem( 8 );
        align-items: center;

        // Media Queries
        @include mixin.maxWidth( lg ) {
            // Mixins
            @include mixin.flexCenter( space-between );

            // Styles
            grid-column: 1 / span 2;
        }

        &-text {
            color: func.color( greyColor-500 );
        }

        &-dropdown {
            max-width: func.pxToRem( 68 );
        }
    }

    &__current {
        padding: 0 func.pxToRem( 32 ) 0 func.pxToRem( 40 );
        color: func.color( greyColor-500 );

        // Media Queries
        @include mixin.maxWidth( lg ) {
            padding: 0;
        }
    }

    &__navigate {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-flow: column;
        align-items: center;

        // Media Queries
        @include mixin.maxWidth( lg ) {
            justify-content: flex-end;
        }
    }
}
