<div class="pagination">
    <!-- Items Per Page -->
    <div class="pagination__per-page">
        <base-text></base-text>
        <base-dropdown></base-dropdown>
    </div>
    <!-- ./Items Per Page -->

    <!-- Current Page -->
    <div class="pagination__current">
        <base-text></base-text>
    </div>
    <!-- ./Current Page -->

    <!-- Navigation -->
    <div class="pagination__navigate">
        <base-button></base-button>
        <base-button></base-button>
    </div>
    <!-- ./Navigation -->
</div>
