<div class="pagination">
    <!-- Items Per Page -->
    <div class="pagination__per-page">
        <div class="pagination__per-page-text">
            <base-text
                [renderAsSpan]="true"
                fontWeight="light"
                variant="paragraph xs"
            >
                Items per page:
            </base-text>
        </div>
        <div class="pagination__per-page-dropdown">
            <base-dropdown
                (onChange)="setItemsPerPage()"
                [options]="itemsPerPageOptions"
                [value]="itemsPerPage.toString()"
                label="Items per page"
                menuDirection="up"
                variant="outlined"
            ></base-dropdown>
        </div>
    </div>
    <!-- ./Items Per Page -->

    <!-- Current Page -->
    <div class="pagination__current">
        <base-text
            [renderAsSpan]="true"
            fontWeight="light"
            variant="paragraph xs"
        >
            <ng-container *ngIf="visibleItems < 0">1 -</ng-container> {{ visibleItems }} of {{ itemsCount }}
        </base-text>
    </div>
    <!-- ./Current Page -->

    <!-- Navigation -->
    <div class="pagination__navigate">
        <base-button
            (onClick)="handlePageChange( -1 )"
            [icons]="[ 'chevron_left' ]" 
            [isDisabled]="currentPage === 1"
            [showLabel]="false"
            label="Navigate to previous page"
            variant="ghost"
        ></base-button>
        <base-button
            (onClick)="handlePageChange( 1 )"
            [icons]="[ 'chevron_right' ]" 
            [isDisabled]="currentPage === pagesCount"
            [showLabel]="false"
            label="Navigate to next page"
            variant="ghost"
        ></base-button>
    </div>
    <!-- ./Navigation -->
</div>
