/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.nav-item {
    // Mixins
    @include mixin.borderRadiusRound();

    // Styles
    width: func.pxToRem( 40 );
    height: func.pxToRem( 40 );
    position: relative;

    // Children
    &__button {
        // Mixins
        @include mixin.borderRadiusRound();
        @include mixin.flexCenter();
    
        // Styles
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        color: func.color( whiteColor );
        line-height: 1;
        cursor: pointer;

        &:hover {
            // Media Queries
            @include mixin.minWidth( md ) {
                background: func.alphaColor( whiteColor, .1 );
            }
        }

        &:active {
            // Media Queries
            @include mixin.minWidth( md ) {
                background: func.alphaColor( whiteColor, .2 );
            }
        }
    }
}
