<div class="nav-item">
    <!-- Button -->
    <button
        (click)="handleClick()"
        (mouseenter)="toggleTooltipVisibility()"
        (mouseleave)="toggleTooltipVisibility()"
        class="nav-item__button"
    >
        <div class="nav-item__icon">
            <base-icon
                [filled]="filledIcon"
                [name]="icon"
            ></base-icon>
        </div>
    </button>
    <!-- ./Button -->

    <!-- Tooltip -->
    <ng-container *ngIf="windowSize.width >= tabletBrakpoint">
        <div class="nav-item__tooltip">
            <base-tooltip
                [isVisible]="showTooltip"
                [label]="label"
            ></base-tooltip>
        </div>
    </ng-container>
    <!-- ./Tooltip -->
</div>
