<div class="table">
    <!-- Table -->
    <div class="table__element">
        <div class="table__body">
            <!-- Titles -->
            <ng-container *ngIf="windowSize.width >= tabletBrakpoint">
                <common-table-line-item
                    (onSearchClick)="handleSearchClick()"
                    (onSortClick)="handleSortClick( $event )"
                    [cells]="titles"
                    [isTitlesRow]="true"
                ></common-table-line-item>
            </ng-container>
            <!-- ./Titles -->
            <!-- Rows -->
            <common-table-line-item
                *ngFor="let row of rows"
                [cells]="row.cells"
                [status]="row.status"
                [titles]="row.titles"
            ></common-table-line-item>
            <!-- ./Rows -->
        </div>
    </div>
    <!-- ./Table -->

    <!-- Pagination -->
    <div class="table__pagination">
        <common-pagination
            [currentPage]="pagination.currentPage"
            [itemsCount]="pagination.itemsCount"
            [itemsPerPage]="pagination.itemsPerPage"
            [pagesCount]="pagination.pagesCount"
            [visibleItems]="pagination.visibleItems"
        ></common-pagination>
    </div>
    <!-- ./Pagination -->
</div>
