/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.list {
    // Mixins
    @include mixin.boxShadow(
        func.shadowProp( shadowPropsSmall )
        func.alphaColor( invertColor-25, .16 )
    );

    // Styles
    width: func.pxToRem( 240 );
    padding: func.pxToRem( 4 );
    background: func.color( baseColor-25 );
    border-radius: func.pxToRem( 6 );

    // Children
    &__items {
        max-height: func.pxToRem( 188 );
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__item {}

    // Is...
    &--is {
        &-full-width {
            width: 100%;
        }
    }
}
