<div [ngClass]="returnClassNames()">
    <!-- Input -->
    <div class="dropdown__input">
        <base-input
            (onChange)="handleChange( $event )"
            (onFocus)="handleFocus()"
            [hasError]="hasError"
            [helperText]="helperText"
            [isDisabled]="isDisabled"
            [isReadOnly]="!isSearchable"
            [isRequired]="isRequired"
            [label]="label"
            [placeholder]="placeholder"
            [value]="value!"
            [variant]="variant"
            type="text"
        ></base-input>
    </div>
    <!-- ./Input -->

    <!-- Icon -->
    <div
        [ngClass]="{ 'dropdown__icon--is-rotated': isInFocus }"
        class="dropdown__icon"
    >
        <base-icon
            name="arrow_drop_down"
        ></base-icon>
    </div>
    <!-- ./Icon -->

    <!-- Options -->
    <div
        [ngClass]="{ 'dropdown__options--is-visible': isInFocus }"
        class="dropdown__options"
    >
        <common-actions-list
            (onActionClick)="handleOptionSelect( $event )"
            [actions]="searchTerm && searchTerm !== '' ? filteredOptions : options"
            width="full"
        ></common-actions-list>
    </div>
    <!-- ./Options -->
</div>
