/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.dropdown {
    display: inline-block;
    position: relative;

    &__input {
        @include mixin.flexCenter();
    }

    &__icon {
        // Mixins
        @include mixin.transform( translateY( -50% ) );

        // Styles
        position: absolute;
        top: 50%;
        right: func.pxToRem( 16 );
        color: func.color( primaryColor-500 );
        pointer-events: none;

        // Is...
        &--is {
            &-rotated {
                @include mixin.transform( translateY( -40% ) rotate( 180deg ) );
            }
        }
    }

    &__options {
        // Mixins
        @include mixin.transition(
            transform func.duration( fast ) func.easing( easeOutQuint ),
            opacity func.duration( fast ) func.easing( easeOutQuint )
        );

        // Styles
        width: 100%;
        height: 0;
        position: absolute;
        right: 0;
        transform-origin: top center;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        z-index: 9;

        &--is {
            &-visible {
                height: auto;
                opacity: 1;
                pointer-events: all;
                overflow: visible;
            }
        }
    }

    // Variant
    &--variant {
        &-outlined {
            .dropdown {
                &__icon {
                    right: 0;
                }
            }
        }
    }

    // Direction
    &--direction {
        &-down {
            .dropdown {
                &__options {
                    // Mixins
                    @include mixin.transform( translateY( func.pxToRem( 8 ) ) scale( .975 ) );

                    // Styles
                    top: calc( 100% + #{ func.pxToRem( 4 ) } );

                    &--is {
                        &-visible {
                            @include mixin.transform( none );
                        }
                    }
                }
            }
        }

        &-up {
            .dropdown {
                &__options {
                    // Mixins
                    @include mixin.transform( translateY( func.pxToRem( -8 ) ) scale( .975 ) );

                    // Styles
                    bottom: calc( 100% + #{ func.pxToRem( 8 ) } );

                    &--is {
                        &-visible {
                            @include mixin.transform( none );
                        }
                    }
                }
            }
        }
    }

    // Is...
    &--is {
        &-searchable {}
    }
}
