/*** IMPORTS ***/
// Use
@use './../../../styles/utils/functions' as func;
@use './../../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.overflow {
    position: relative;

    &__trigger {
        // Mixins
        @include mixin.borderRadiusRound();
        @include mixin.flexCenter();
    
        // Styles
        width: func.pxToRem( 40 );
        height: func.pxToRem( 40 );
        background: transparent;
        border: none;
        color: func.color( whiteColor );
        line-height: 1;
        cursor: pointer;

        &:hover {
            // Media Queries
            @include mixin.minWidth( md ) {
                background: func.alphaColor( whiteColor, .1 );
            }
        }

        &:active {
            // Media Queries
            @include mixin.minWidth( md ) {
                background: func.alphaColor( whiteColor, .2 );
            }
        }
    }

    &__menu {
        // Mixins
        @include mixin.transform( translateY( func.pxToRem( 8 ) ) scale( .95 ) );
        @include mixin.transition(
            all
            func.duration( fast )
            func.easing( easeOutQuint )
        );

        // Styles
        position: absolute;
        top: calc( 100% + #{ func.pxToRem( 4 ) } );
        right: 0;
        transform-origin: top right;
        opacity: 0;
        pointer-events: none;

        &--is {
            &-visible {
                // Mixins
                @include mixin.transform( none );
        
                // Styles
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
