<button
    (click)="handleClick()"
    class="list-item"
>
    <!-- Icon -->
    <ng-container *ngIf="icon">
        <span class="list-item__icon">
            <base-icon
                [name]="icon"
            ></base-icon>
        </span>
    </ng-container>
    <!-- ./Icon -->

    <!-- Label -->
    <span class="list-item__label">
        <base-text>
            {{ label }}
        </base-text>
    </span>
    <!-- ./Label -->

    <!-- Arrow -->
    <ng-container *ngIf="showArrow">
        <span class="list-item__arrow">
            <base-icon
                name="arrow_forward"
            ></base-icon>
        </span>
    </ng-container>
    <!-- ./Arrow -->
</button>
