<div [ngClass]="returnClassNames">
    <!-- Trigger -->
    <button
        (click)="handleClick"
        class="fab__trigger"
    >
        <!-- Icon -->
        <span class="fab__trigger-icon">
            <base-icon
                [name]="icon"
            ></base-icon>
        </span>
        <!-- ./Icon -->
        <!-- Label -->
        <span class="fab__trigger-label">
            <base-text
                [renderAsSpan]="true"
                variant="label lg"
            >
                {{ label }}
            </base-text>
        </span>
        <!-- ./Label -->
    </button>
    <!-- ./Trigger -->

    <!-- Options -->
    <ng-container *ngIf="actions && actions.length > 0">
        <div class="fab__options">
            <common-actions-list
                [actions]="actions"
            ></common-actions-list>
        </div>
    </ng-container>
    <!-- ./Options -->
</div>
