<div class="fab">
    <!-- Trigger -->
    <button class="fab__trigger">
        <!-- Icon -->
        <span class="fab__trigger-icon">
            <base-icon></base-icon>
        </span>
        <!-- ./Icon -->
        <!-- Label -->
        <span class="fab__trigger-label">
            <base-text></base-text>
        </span>
        <!-- ./Label -->
    </button>
    <!-- ./Trigger -->

    <!-- Options -->
    <div class="fab__options">
        <common-actions-list></common-actions-list>
    </div>
    <!-- ./Options -->
</div>
