<label class="input">
    <!-- Label -->
    <span class="input__label">
        <base-text>
            <span class="input__label-asterisk"></span>
        </base-text>
    </span>
    <!-- ./Label -->

    <!-- Input Element -->
    <input
        class="input__element"
        type="text"
    />
    <!-- ./Input Element -->

    <!-- Helper Text -->
    <span class="input__helper">
        <!-- Icon -->
        <span class="input__helper-icon">
            <base-icon></base-icon>
        </span>
        <!-- ./Icon -->
        <!-- Text -->
        <div class="input__helper-text">
            <base-text></base-text>
        </div>
        <!-- ./Text -->
    </span>
    <!-- ./Helper Text -->
</label>
