<label [ngClass]="returnClassNames()">
    <!-- Icon -->
    <ng-container *ngIf="icon">
        <span class="input__icon">
            <base-icon [name]="icon"></base-icon>
        </span>
    </ng-container>
    <!-- ./Icon -->

    <!-- Input Element -->
    <input
        (blur)="handleBlur()"
        (input)="handleChange( $event )"
        (focus)="handleFocus()"
        (keyup.enter)="onEnterPressed()"
        [placeholder]="placeholder ? placeholder : ' '"
        [readOnly]="isReadOnly"
        [type]="type"
        [value]="value"
        [attr.aria-label]="label"
        class="input__element"
    />
    <!-- ./Input Element -->

    <!-- Label -->
    <span class="input__label">
        <base-text
            [renderAsSpan]="true"
            variant="label md"
        >
            {{ label }}
            <ng-container *ngIf="isRequired">
                <sup class="input__label-asterisk">*</sup>
            </ng-container>
        </base-text>
    </span>
    <!-- ./Label -->

    <!-- Clear Search Value -->
    <ng-container *ngIf="type === 'search' && this.value !== ''">
        <span
            (click)="handleValueClear()"
            class="input__clear"
        >
            <base-icon name="close"></base-icon>
        </span>
    </ng-container>
    <!-- ./Clear Search Value -->

    <!-- Helper Text -->
    <ng-container *ngIf="helperText">
        <span class="input__helper">
            <base-helper-text
                [icon]="helperText.icon"
                [label]="helperText.label"
                [state]="helperText.state"
            ></base-helper-text>
        </span>
    </ng-container>
    <!-- ./Helper Text -->
</label>
