/*** IMPORTS ***/
// Use
@use './../../styles/utils/functions' as func;
@use './../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.content {
    // Styles
    padding: func.pxToRem( 16 ) func.pxToRem( 80 );

    // Media Queries
    @include mixin.maxWidth( lg ) {
        padding: func.pxToRem( 12 ) func.pxToRem( 16 );
    }

    &__header {
        margin: func.pxToRem( 2 ) 0 func.pxToRem( 24 );
    }

    &__actions {
        // Mixins
        @include mixin.flexCenter( space-between );

        // Styles
        margin: 0 0 func.pxToRem( 16 );
        padding: func.pxToRem( 12 ) func.pxToRem( 16 );
        background: func.color( baseColor-25 );
        border-radius: func.pxToRem( 4 );

        // Media Queries
        @include mixin.maxWidth( lg ) {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            gap: func.pxToRem( 16 );
        }

        // Children
        &-config {
            // Styles
            display: grid;
            grid-template-columns: repeat( 2, #{ func.pxToRem( 216 ) } ) auto;
            gap: func.pxToRem( 16 );
            align-items: flex-start;

            // Media Queries
            @include mixin.maxWidth( lg ) {
                width: 100%;
                grid-template-columns: 100%;
            }

            &-chips {
                display: flex;
                flex-wrap: wrap;
            }

            &-chip {
                // Mixins
                @include mixin.transform( translateY( func.pxToRem( 10 ) ) );

                // Styles
                margin-bottom: func.pxToRem( 8 );

                &:not( :last-child ) {
                    margin-right: func.pxToRem( 8 );
                }
            }
        }

        &-filter {
            // Mixins
            @include mixin.flexCenter( flex-end );

            // Styles
            align-self: flex-start;
            margin: func.pxToRem( 12 ) 0 0;
            white-space: nowrap;

            // Media Queries
            @include mixin.maxWidth( lg ) {
                justify-self: flex-start;
            }
        }
    }

    &__table {
        margin: 0 0 func.pxToRem( 16 );
    }
}