<layout-dashboard>
    <!-- Content -->
    <section class="content">
        <!-- Header -->
        <div class="content__header">
            <!-- Text -->
            <div class="content__header-text">
                <div class="content__header-title">
                    <base-text></base-text>
                </div>
                <div class="content__header-description">
                    <base-text></base-text>
                </div>
            </div>
            <!-- ./Text -->

            <!-- CTAs -->
            <div class="content__header-ctas">
                <base-button></base-button>
                <base-button></base-button>
            </div>
            <!-- ./CTAs -->
        </div>
        <!-- ./Header -->

        <!-- Actions -->
        <div class="content__actions">
            <!-- Config -->
            <div class="content__actions-config">
                <div class="content__actions-config-farm">
                    <base-dropdown></base-dropdown>
                </div>
                <div class="content__actions-config-search">
                    <common-search></common-search>
                </div>
                <div class="content__actions-config-chips">
                    <base-chip></base-chip>
                </div>
            </div>
            <!-- ./Config -->

            <!-- Filter -->
            <div class="content__actions-filter">
                <base-toggle></base-toggle>
            </div>
            <!-- ./Filter -->
        </div>
        <!-- ./Actions -->

        <!-- Table -->
        <div class="content__table">
            <common-table></common-table>
        </div>
        <!-- ./Table -->
    </section>
    <!-- ./Content -->
</layout-dashboard>
