<layout-dashboard>
    <!-- Content -->
    <section class="content">
        <base-card>
            <!-- Header -->
            <div class="content__header">
                <common-header
                    heading="Farms and Blocks"
                    paragraph="Manage farms, blocks and sub-blocks."
                >
                    <ng-container *ngIf="windowSize.width >= tabletBrakpoint">
                        <base-button
                            (onClick)="handleGenericClick()"
                            label="Add Farm"
                        ></base-button>
                        <base-button
                            (onClick)="handleGenericClick()"
                            label="Add Block"
                            variant="outlined"
                        ></base-button>
                    </ng-container>
                </common-header>
            </div>
            <!-- ./Header -->

            <!-- Actions -->
            <div class="content__actions">
                <!-- Config -->
                <div class="content__actions-config">
                    <base-dropdown
                        (onChange)="handleFarmSelection( $event )"
                        [isSearchable]="true"
                        [options]="farms"
                        [value]="selectedFarm"
                        label="Farm"
                        placeholder="Select or type a farm"
                    ></base-dropdown>
                    <common-search
                        (onChange)="handleSearchValueChange( $event )"
                        [value]="searchTerm"
                        placeholder="Search Columns"
                    ></common-search>
                    <ng-container *ngIf="searchTerms.length > 0">
                        <div class="content__actions-config-chips">
                            <base-chip></base-chip>
                        </div>
                    </ng-container>
                </div>
                <!-- ./Config -->

                <!-- Filter -->
                <div class="content__actions-filter">
                    <base-toggle
                        (onClick)="handleToggleChange( $event )"
                        [showLabel]="true"
                        label="Removed blocks"
                    ></base-toggle>
                </div>
                <!-- ./Filter -->
            </div>
            <!-- ./Actions -->

            <!-- Table -->
            <div class="content__table">
                <common-table
                    [rows]="tableRows"
                    [titles]="tableTitles"
                ></common-table>
            </div>
            <!-- ./Table -->
        </base-card>
    </section>
    <!-- ./Content -->
</layout-dashboard>
