/*** IMPORTS ***/
// Use
@use './../../styles/utils/functions' as func;
@use './../../styles/utils/mixins' as mixin;

/*** STYLES ***/
// Host
:host {
    display: contents;
}

// Component
.content {
    // Styles
    padding: func.pxToRem( 16 ) func.pxToRem( 80 );

    // Media Queries
    @include mixin.maxWidth( lg ) {
        padding: func.pxToRem( 12 ) func.pxToRem( 16 );
    }

    &__header {
        margin: func.pxToRem( 2 ) 0 func.pxToRem( 24 );
    }

    &__actions {
        // Mixins
        @include mixin.flexCenter( space-between );

        // Styles
        margin: 0 0 func.pxToRem( 16 );
        padding: func.pxToRem( 12 ) func.pxToRem( 16 );
        background: func.color( baseColor-25 );
        border-radius: func.pxToRem( 4 );

        // Media Queries
        @include mixin.maxWidth( lg ) {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            gap: func.pxToRem( 16 );
        }

        // Children
        &-config {
            // Styles
            display: grid;
            grid-template-columns: repeat( 2, #{ func.pxToRem( 216 ) } );
            gap: func.pxToRem( 16 );

            // Media Queries
            @include mixin.maxWidth( lg ) {
                width: 100%;
                grid-template-columns: 100%;
            }
        }

        &-filter {
            @include mixin.flexCenter( flex-end );
        }
    }

    &__table {
        margin: 0 0 func.pxToRem( 16 );
    }
}