<layout-dashboard>
    <!-- Content -->
    <section class="content">
        <base-card>
            <!-- Header -->
            <div class="content__header">
                <common-header
                    heading="Farms and Blocks"
                    paragraph="Manage farms, blocks and sub-blocks."
                >
                    <ng-container *ngIf="windowSize.width >= tabletBrakpoint">
                        <base-button
                            (onClick)="handleGenericClick()"
                            label="Add Farm"
                        ></base-button>
                        <base-button
                            (onClick)="handleGenericClick()"
                            label="Add Block"
                            variant="outlined"
                        ></base-button>
                    </ng-container>
                </common-header>
            </div>
            <!-- ./Header -->

            <!-- Actions -->
            <div class="content__actions">
                <!-- Config -->
                <div class="content__actions-config">
                    <div class="content__actions-config-farm">
                        <base-dropdown></base-dropdown>
                    </div>
                    <div class="content__actions-config-search">
                        <common-search></common-search>
                    </div>
                    <div class="content__actions-config-chips">
                        <base-chip></base-chip>
                    </div>
                </div>
                <!-- ./Config -->

                <!-- Filter -->
                <div class="content__actions-filter">
                    <base-toggle></base-toggle>
                </div>
                <!-- ./Filter -->
            </div>
            <!-- ./Actions -->

            <!-- Table -->
            <div class="content__table">
                <common-table></common-table>
            </div>
            <!-- ./Table -->
        </base-card>
    </section>
    <!-- ./Content -->
</layout-dashboard>
